<div class="row m-3 p-3">
  <div class="col">
    <% if (typeof errors !='undefined' ) { %>
      <div class="alert alert-danger" role="alert">
        <ul>
          <% errors.forEach(error=> { %>
            <li>
              <%= error.msg %>
            </li>
            <% }) %>
        </ul>
      </div>
      <% } %>
      
        <form method="post" action="/product/update" enctype="application/x-www-form-urlencoded">
          <input type="hidden" name="part_id" value="<%= product.part_id %>">
          <div class="mb-3">
            <label for="brand" class="form-label">Brand</label>
            <select class="form-select" id="brand" name="brand" aria-label="Nama Brand" required value="<%= product.brand %>" >
              <option selected>Pilih Nama Brand</option>
              <option value="Aspira">Aspira</option>
              <option value="Astra Autopart">Astra Autopart</option>
              <option value="555">555</option>
              <option value="Bosch">Bosch</option>
              <option value="Indomobil Part">Indomobil Part</option>
              <option value="Heiker">Heiker</option>
              <option value="Kramatayuda Part">Kramatayuda Part</option>
              <option value="Denso">Denso</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="part_for" class="form-label">Part For</label>
            <!-- <input type="text" class="form-control" id="part_for" name="part_for" required /> -->
            <select class="form-select" id="part_for" name="part_for" aria-label="Kategori Part" required value="<%= product.part_for %>">
              <option selected>Pilih Kategori Part</option>
              <option value="Koil">Koil</option>
              <option value="Busi">Busi</option>
              <option value="Camshaft">Camshaft</option>
              <option value="Karbuartor">Karbuartor</option>
              <option value="Booster Rem">Booster Rem</option>
              <option value="Tie Rod">Tie Rod</option>
              <option value="Link Stabilizer">Link Stabilizer</option>
              <option value="Bushing Arm">Bushing Arm</option>
              <option value="Bushing Stabilizer">Bushing Stabilizer</option>
              <option value="Kampas Rem">Kampas Rem</option>
              <option value="Klaher Roda">Klaher Roda</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" id="price" name="price" required
              value="<%= product.price %>" />
          </div>
          <button type="submit" class="btn btn-warning">Edit Data</button>
          <a class="btn btn-primary" href="/product/<%= product.part_id %> " role="button">Kembali</a>
        </form>

  </div>
</div>