<form action="/sales/invoice" method="post" id="part_id" name="part_id">
    <div class="row m-3 p-3">
        <h1>Produk Dipilih</h1>
        <hr>
        <!-- input -->
        <input type="hidden" name="id" value="<%= id %>">
        <input type="hidden" name="stock" value="<%= stock %>">

        <div class="d-grid ml-3 gap-2 d-md-block">
            <a class="btn btn-primary" href="/sales/list-product" role="button">Kembali</a>
            <button type="submit" class="btn btn-success">Beli</button>
        </div>
    </div>
    <% if (typeof errors !='undefined' ) { %>
        <div class="alert alert-danger" role="alert">
            <ul>
                <% errors.forEach(error=> { %>
                    <li>
                        <%= error.msg %>
                    </li>
                    <% }) %>
            </ul>
        </div>
        <% } %>
            <% if (product.length>= 1) { %>
                <% product.forEach((product, i)=> { i++ %>
                    <div class="row m-3 p-3">
                        <div class="col-md-4 mt-5">
                            <div class="col">
                                <div class="card m-3" style="width: 18rem;">
                                    <img src="/img/<%= product.image %>" alt="ava">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 p-3">
                            <div class="jumbotron">
                                <h3>Brand Name: <%= product.brand %>
                                </h3>
                                <hr class="my-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            Part ID : <%= product.part_id %>
                                        </h5>
                                        <h5 class="card-title">
                                            Available Stock : <%= product.stock %>
                                        </h5>
                                        <h5 class="card-title">
                                            Part For : <%= product.part_for %>
                                        </h5>
                                        <hr>
                                        <h1 class="card-text">
                                            Price List: <%= product.price %>
                                        </h1>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                        <% } else { %>
                            <div class="alert alert-danger" role="alert">
                                Tidak ada item dipilih!
                            </div>
                            <% } %>
</form>