<% let rp = Intl.NumberFormat('id-ID') %> 
<div class="row p-3">
    <div class="col">
        <div class="card text-center">
            <div class="card-header">
                INVOICE
            </div>
            <div class="card-body">
                <h5 class="card-title">Total Harga : Rp. <%= rp.format(result.total) %>
                </h5>
                <p class="card-text">ID Transaksi : <%= result.trans_id %>
                </p>
                <a href="/home" class="btn btn-primary">OK</a>
            </div>
        </div>
    </div>
</div>
<div class="row p-3">
    <% product.forEach((product, i=0)=> { %>
    <div class="col-md-4">
        
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Tangga Transaksi
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <%= result.date_trans.toDateString() %>
                    </li>

                    <li class="list-group-item">
                        <h5>Brand :</h5> <%= product.brand %>
                    </li>
                    <li class="list-group-item">
                        <h5>Part :</h5> <%= product.part_for %>
                    </li>
                    <li class="list-group-item">
                        <h5>Part ID :</h5> <%= product.part_id %>
                    </li>
                    <li class="list-group-item">
                        <h5>Quantity :</h5> <%= quantity[i] %>
                    </li>
                </ul>
            </div>
        
    </div>
    <% i++ }) %>
</div>