<% let rp=Intl.NumberFormat('id-ID') %>
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h1 class="display-4">Halaman List Penjualan</h1>
                <hr class="my-4">
            </div>
            <div class="col">
                <% if (msg.length !==0) { %>
                    <div class="alert alert-success" role="alert">
                        <%= msg %>
                    </div>
                    <% } %>
                        <% if (msg2.length !==0) { %>
                            <div class="alert alert-danger" role="alert">
                                <%= msg2 %>
                            </div>
                            <% } %>

                                <br>
                                <h2>List Penjualan</h2>
                                <!-- menampilkan data dari app -->
                                <table class="table table-hover table-striped">
                                    <thead class="table-dark">
                                        <tr>
                                            <th scope="col">Transaksi Id</th>
                                            <th scope="col">Tanggal Transaksi</th>
                                            <th scope="col">Detail Transaksi</th>
                                            <th scope="col">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (product.length>= 1) { %>
                                            <% product.forEach((product, i)=> { i++ %>
                                                <% detail=JSON.parse(product.part_id) %>
                                                    <% quantity=JSON.parse(product.quantity) %>
                                                        <tr>
                                                            <th scope="row">
                                                                <%= product.trans_id %>
                                                            </th>
                                                            <td>
                                                                <%= product.date_trans %>
                                                            </td>
                                                            <td>
                                                                <ul>
                                                                    <% detail.forEach((barang,i=0)=> { %>
                                                                        <li>id = <%= barang.part_id %>

                                                                                brand = <%= barang.brand %>

                                                                                    part = <%= barang.part_for %>

                                                                                        quantity = <%= quantity[i] %>
                                                                        </li>
                                                                        <%i++ }) %>
                                                                </ul>
                                                            </td>
                                                            <td>
                                                                Rp. <%= rp.format(product.total) %>
                                                            </td>
                                                        </tr>
                                                        <% }) %>
                                                            <% } else { %>
                                                                <p>data tidak ditemukan</p>
                                                                <% } %>
                                    </tbody>
                                </table>
            </div>
        </div>
    </div>